<div class="order-wrapper">
  <form class="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <h2>Đặt Hàng</h2>

    <label for="name">Tên</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Nhập tên của bạn"
      formControlName="name"
    />
    <p
      *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched"
      class="error"
    >
      Vui lòng nhập tên
    </p>

    <label for="phoneNumber">Số điện thoại</label>
    <input
      type="tel"
      id="phone"
      name="phoneNumber"
      placeholder="Nhập số điện thoại"
      formControlName="phoneNumber"
    />
    <p
      *ngIf="
        orderForm.get('phoneNumber')?.invalid &&
        orderForm.get('phoneNumber')?.touched
      "
      class="error"
    >
      Số điện thoại không hợp lệ
    </p>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Nhập địa chỉ email"
      formControlName="email"
    />
    <p
      *ngIf="orderForm.get('email')?.invalid && orderForm.get('email')?.touched"
      class="error"
    >
      Email không hợp lệ
    </p>

    <label>Sản phẩm</label>
    <div formArrayName="products">
      <div
        *ngFor="let group of productsArray.controls; let i = index"
        [formGroupName]="i"
        class="product-item"
      >
        <div class="title-and-action">
          <label>Sản phẩm {{ i + 1 }}</label>
          <button
            class="btn delete-btn"
            type="button"
            (click)="removeProduct(i)"
            *ngIf="productsArray.length > 1"
          >
            Xóa sản phẩm
          </button>
        </div>
        <div class="product">
            <ng-select
            [items]="products"
            bindLabel="name"
            bindValue="productId"
            placeholder="Chọn sản phẩm"
            formControlName="productId"
          >
          </ng-select>
          <div class="count">
            <input
              type="number"
              formControlName="count"
              min="1"
              placeholder="Số lượng"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="add-product">
      <button class="btn create-btn" type="button" (click)="addProduct()">
        Thêm sản phẩm
      </button>
    </div>

    <label for="email">Tổng tiền</label>
    <input
      type="text"
      id="totalAmount"
      name="totalAmount"
      formControlName="totalAmount"
    />

     <div class="action-order-form">
      <a class="btn create-btn" [routerLink]="['/order']">Trờ lại danh sách</a>
      <button class="btn create-btn" type="submit">Cập nhật</button>
    </div>
  </form>
</div>
