.h-100px {
  height: 100px;
}

.w-100px {
  width: 100px;
}

.btn-close-custom {
  z-index: 2;
  border-radius: 50%;
  opacity: 0.85;
  min-width: unset;
  min-height: unset;
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 0.1rem 0.35rem;
  font-size: 0.75rem;
  line-height: 1;
}

.error {
  color: red;
}
