$primary-color: #007bff;
$primary-hover: #0056b3;
$background-color: #f5f7fa;
$text-color: #333;
$border-radius: 10px;
$input-border: #ccc;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
$text-color-error: #ff0000;

.order-wrapper {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .order-form {
    background: white;
    padding: 30px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 600px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: $text-color;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid $input-border;
    }

    .error {
      color: $text-color-error;
      margin-top: 0px;
    }

    .title-and-action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .product {
      display: flex;
      flex-direction: row;

      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid $input-border;
        background-color: white;
        color: $text-color;
        font-size: 16px;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
      }
      .count {
        margin-left: 15px;
      }
    }
  }

  .add-product {
    display: flex;
    justify-content: center;
  }
  .action-order-form {
    display: flex;
    justify-content: space-between;
  }
}
.btn {
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: white;

  &.create-btn {
    background-color: #3498db;

    &:hover {
      background-color: #2980b9;
    }
  }

  &.edit-btn {
    background-color: #3498db;

    &:hover {
      background-color: #2980b9;
    }
  }

  &.delete-btn {
    background-color: #e74c3c;

    &:hover {
      background-color: #c0392b;
    }
  }
}

ng-select {
  width: 100%;
}
